@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    height: 100vh;
}

.container {
    max-width: 50%;  
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(9,60,121);
    background: linear-gradient(90deg, rgba(9,60,121,1) 4%, rgba(154,0,255,1) 100%);
    padding: 1rem;
    align-items: center;
}

.logo img {
    display: flex;
    justify-self: center;
    margin: 1em;
    width: 12rem;
}

.social-icon {
    display: flex;
    flex-direction: row;
}

header span {
    background-color: #E6E7E9;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: 0.5em;
}

/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    list-style: none;
}

ul li {
    flex-wrap: wrap;
    flex-grow: 1;
    height: 2em;
    background-color: #97989A;
    border: solid 0.1em #FFFFFFFF;
    text-align: center;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

nav a {
    text-decoration: none;
    color: #191919;
}

ul li:hover {
    background-color: #7a7979;
}

/* SECTION */

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.images article {
    width: 15rem;
    height: 9rem;
    padding: 0;
}

.images article:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.images img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.images p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #97989A;
    position: relative;
    font-size: 1.3em;
    bottom: 39%;
    opacity: 0.8;
}

/* CONTENT */

.content {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background: rgb(9,60,121);
    background: linear-gradient(90deg, rgba(9,60,121,1) 4%, rgba(154,0,255,1) 100%);
    margin-bottom: 1rem;
    height: 30rem;
}

.content article {
    background-color: #4B4B4D;
    height: 15rem;
    width: 60%;
}

.content-article article {
    margin: auto;
    align-content: center;
}

.content img {
    float: left;
    margin: 2.2rem 1rem;
    width: 16rem;
}

.align-items {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-right: 0.8rem;
}

.content h1, .content h2 {
    color: #E6E7E9;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-top: 1.8rem;
    margin-bottom: 0;
}

.content p {
    color: #E6E7E9;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}
button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
  }
  
button:hover {
    background-color: #858688;
    color: #E6E7E9;
  }

button a {
    text-decoration: none;
}

.curriculum p, .portfolio p {
    padding: 1rem;
}

/* FOOTER */

footer {
    background-color: #4B4B4D;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 4rem;
}

.content-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
}

footer p {
    padding-top: 0.2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color:#FFFFFFFF;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1480px) {

.container {
    max-width: 70%;  
    margin: auto;
}

.content img {
    width: 14rem;
}
}

@media only screen and (max-width: 1280px) {

.container {
    max-width: 80%;  
    margin: auto;
}
}

@media only screen and (max-width: 1000px) {

.container {
    max-width: 90%;  
    margin: auto;
}
}

@media only screen and (max-width: 800px) {

.container {
    max-width: 100%;  
    margin: auto;
}

.images {
    align-items: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
    background: rgb(9,60,121);
    background: linear-gradient(90deg, rgba(9,60,121,1) 4%, rgba(154,0,255,1) 100%);
}

@media only screen and (max-width: 700px) {

.content {
    display: flex;
    flex-direction: column;
    height: 45rem;
} 

.content article {
    display: flex;
    flex-direction: column;
    height: 22.5rem;
}

.content img {
    margin: 1rem 3.5rem;
    width: 70%;
}

.align-items {
    padding-left: 2rem;
    margin-top: -2rem;
}
}

@media only screen and (max-width: 600px) {

.content img {
    margin: 1rem 3rem;
}
}

@media screen and (max-width: 480px) {

nav ul{
    display: flex;
    flex-direction: column;
}
} 

@media screen and (max-width: 400px) {

header span {
    display: none;
}

.content {
    height: 40rem;
} 

.content article {
    height: 20rem;
}

.content img {
    margin: 1rem 2.3rem;
}
}